langchain
langchain-community
langgraph-supervisor
pydantic==2.11.4
databricks_langchain
databricks-mcp
databricks-vectorsearch
databricks-sdk
mlflow>=3.3.2
ipython
pyyaml
# For memory. Comment out if not needed
langgraph-checkpoint
langgraph-checkpoint-postgres
mcp==1.23.2
# ensure psycopg ad psycopg-binary are the same versions
psycopg==3.2.13
psycopg-binary==3.2.13
psycopg-pool==3.2.8