agate==1.9.1
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiohttp-retry==2.9.1
aiosignal==1.4.0
alembic==1.16.5
annotated-types==0.7.0
anyio==4.11.0
asttokens==2.0.5
astunparse==1.6.3
attrs==25.3.0
Authlib==1.6.4
azure-core==1.31.0
azure-storage-blob==12.23.0
azure-storage-file-datalake==12.17.0
babel==2.17.0
black==24.4.2
blinker==1.9.0
boto3==1.34.69
botocore==1.34.69
cachetools==5.3.3
certifi==2024.6.2
cffi==1.16.0
chardet==4.0.0
charset-normalizer==2.0.4
click==8.1.7
cloudpickle==2.2.1
colorama==0.4.6
comm==0.2.1
contourpy==1.2.0
cryptography==45.0.7
cycler==0.11.0
cyclopts==3.24.0
Cython==3.0.11
daff==1.4.2
databricks-ai-bridge==0.8.0
databricks-connect==16.3.5
databricks-langchain==0.6.0
databricks-sdk==0.62.0
databricks-sql-connector==3.1.2
databricks-vectorsearch==0.57
dataclasses-json==0.6.7
dbldatagen==0.4.0.post1
dbt-adapters==1.9.0
dbt-common==1.12.0
dbt-core==1.8.7
dbt-databricks==1.8.7
dbt-extractor==0.6.0
dbt-protos==1.0.375
dbt-semantic-interfaces==0.5.1
dbt-spark==1.9.3
dbus-python==1.3.2
debugpy==1.6.7
decorator==5.1.1
deepdiff==7.0.1
Deprecated==1.2.14
deprecation==2.1.0
distlib==0.3.8
distro==1.9.0
distro-info==1.7+build1
dnspython==2.8.0
docker==7.1.0
docstring-to-markdown==0.11
docstring_parser==0.17.0
docutils==0.22.2
email-validator==2.3.0
et_xmlfile==2.0.0
exceptiongroup==1.3.0
executing==0.8.3
facets-overview==1.1.1
fastapi==0.118.0
fastmcp==2.12.4
filelock==3.15.4
Flask==3.1.2
fonttools==4.51.0
frozenlist==1.7.0
gitdb==4.0.11
GitPython==3.1.37
google-api-core==2.20.0
google-auth==2.35.0
google-cloud-core==2.4.1
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
graphene==3.4.3
graphql-core==3.2.6
graphql-relay==3.2.0
greenlet==3.2.4
grpcio==1.75.1
grpcio-status==1.71.2
gunicorn==23.0.0
h11==0.16.0
httpcore==1.0.9
httplib2==0.20.4
httpx==0.28.1
httpx-sse==0.4.1
idna==3.7
importlib-metadata==6.0.0
ipyflow-core==0.0.201
ipykernel==6.28.0
ipython==8.25.0
ipython-genutils==0.2.0
ipywidgets @ file:///databricks/.virtualenv-def/ipywidgets-7.7.2-2databricksnojsdeps-py2.py3-none-any.whl#sha256=903ead20c8d40de671853515fcad2f34b43ebf3eff80e4df3f876b8dd64c903b
isodate==0.6.1
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.3.0
jedi==0.19.1
jeepney==0.9.0
Jinja2==3.1.6
jiter==0.11.0
jmespath==1.0.1
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-path==0.3.4
jsonschema-specifications==2025.9.1
jupyter_client==8.6.0
jupyter_core==5.7.2
keyring==25.6.0
kiwisolver==1.4.4
lakefed_ingest @ file:///local_disk0/tmp/addedFile8833ee2cab5b4002b277eea2209ba251317238920149427765/lakefed_ingest-0.0.1%2B20250909.191155-py3-none-any.whl#sha256=aceda3a3eddb8bb1b073e50f3391838fef60b17ad017672da06504455890a709
langchain==0.3.27
langchain-community==0.3.27
langchain-core==0.3.76
langchain-text-splitters==0.3.11
langgraph==0.6.4
langgraph-checkpoint==2.1.1
langgraph-checkpoint-postgres==2.0.23
langgraph-prebuilt==0.6.4
langgraph-sdk==0.2.9
langgraph-supervisor==0.0.29
langsmith==0.4.31
launchpadlib==1.11.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
lazy-object-proxy==1.12.0
leather==0.4.0
Logbook==1.5.3
lz4==4.4.4
Mako==1.3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
marshmallow==3.26.1
mashumaro==3.14
matplotlib==3.8.4
matplotlib-inline==0.1.6
mccabe==0.7.0
mcp==1.15.0
mdurl==0.1.2
minimal-snowplow-tracker==0.0.2
mlflow==3.2.0
mlflow-skinny==3.2.0
mlflow-tracing==3.2.0
more-itertools==10.8.0
msgpack==1.1.1
multidict==6.6.4
mypy==1.10.0
mypy-extensions==1.0.0
nest-asyncio==1.6.0
networkx==3.5
nodeenv==1.9.1
numpy==1.26.4
oauthlib==3.2.2
openai==1.109.1
openapi-core==0.19.5
openapi-pydantic==0.5.1
openapi-schema-validator==0.6.3
openapi-spec-validator==0.7.2
openpyxl==3.1.5
opentelemetry-api==1.27.0
opentelemetry-proto==1.37.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
ordered-set==4.1.0
orderly-set==5.5.0
orjson==3.11.3
ormsgpack==1.10.0
packaging==24.1
pandas==1.5.3
parse==1.20.2
parsedatetime==2.6
parso==0.8.3
pathable==0.4.4
pathspec==0.10.3
patsy==0.5.6
pexpect==4.8.0
pillow==10.3.0
platformdirs==3.10.0
plotly==5.22.0
pluggy==1.0.0
prompt-toolkit==3.0.43
propcache==0.3.2
proto-plus==1.24.0
protobuf==5.29.5
psutil==5.9.0
psycopg==3.2.9
psycopg-binary==3.2.9
psycopg-pool==3.2.6
psycopg2==2.9.3
ptyprocess==0.7.0
pure-eval==0.2.2
py4j==0.10.9.7
pyarrow==14.0.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyccolo==0.0.65
pycparser==2.21
pydantic==2.11.4
pydantic-settings==2.11.0
pydantic_core==2.33.2
pyflakes==3.2.0
Pygments==2.15.1
PyGObject==3.48.2
PyJWT==2.7.0
pyodbc==5.0.1
pyparsing==3.0.9
pyperclip==1.11.0
pyright==1.1.294
python-apt==2.7.7+ubuntu5
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-http-client==3.3.7
python-lsp-jsonrpc==1.1.2
python-lsp-server==1.10.0
python-multipart==0.0.20
python-slugify==8.0.4
pytimeparse==1.1.8
pytoolconfig==1.2.6
pytz==2024.1
PyYAML==6.0.1
pyzmq==25.1.2
referencing==0.36.2
regex==2025.9.18
requests==2.32.5
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rich==14.1.0
rich-rst==1.3.1
rope==1.12.0
rpds-py==0.27.1
rsa==4.9
s3transfer==0.10.2
scikit-learn==1.4.2
scipy==1.13.1
seaborn==0.13.2
SecretStorage==3.4.0
sendgrid==6.12.5
setuptools==74.0.0
six==1.16.0
smmap==5.0.0
sniffio==1.3.1
snowplow-tracker==1.1.0
SQLAlchemy==2.0.43
sqlparams==6.2.0
sqlparse==0.5.1
sse-starlette==3.0.2
ssh-import-id==5.11
stack-data==0.2.0
starlette==0.48.0
statsmodels==0.14.2
tabulate==0.9.0
tenacity==8.2.2
text-unidecode==1.3
threadpoolctl==2.2.0
thrift==0.16.0
tiktoken==0.11.0
tokenize-rt==4.2.1
tomli==2.0.1
tornado==6.4.1
tqdm==4.67.1
traitlets==5.14.3
types-protobuf==3.20.3
types-psutil==5.9.0
types-pytz==2023.3.1.1
types-PyYAML==6.0.0
types-requests==2.31.0.0
types-setuptools==68.0.0.0
types-six==1.16.0
types-urllib3==1.26.25.14
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.15.0
ujson==5.10.0
unattended-upgrades==0.1
unitycatalog-ai @ git+https://github.com/unitycatalog/unitycatalog.git@b2d072e56661aedb84cce9be60292b2c54e12224#subdirectory=ai/core
unitycatalog-client==0.3.0
unitycatalog-langchain==0.2.0
unitycatalog-openai @ git+https://github.com/unitycatalog/unitycatalog.git@b2d072e56661aedb84cce9be60292b2c54e12224#subdirectory=ai/integrations/openai
urllib3==1.26.16
uvicorn==0.37.0
virtualenv==20.26.2
wadllib==1.3.6
wcwidth==0.2.5
Werkzeug==3.1.1
whatthepatch==1.0.2
wheel==0.43.0
wrapt==1.14.1
xxhash==3.5.0
yapf==0.33.0
yarl==1.20.1
zipp==3.17.0
zstandard==0.25.0
