aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiohttp-retry==2.9.1
aiosignal==1.4.0
alembic==1.17.2
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.11.0
asttokens==2.0.5
astunparse==1.6.3
attrs==25.4.0
azure-core==1.32.0
azure-storage-blob==12.19.1
azure-storage-file-datalake==12.14.0
black==23.3.0
blinker==1.9.0
boto3==1.34.39
botocore==1.34.39
cachetools==5.5.0
certifi==2023.7.22
cffi==2.0.0
chardet==4.0.0
charset-normalizer==2.0.4
click==8.3.1
cloudpickle==3.0.0
comm==0.1.2
contourpy==1.0.5
cryptography==46.0.3
cycler==0.11.0
Cython==0.29.32
databricks-agents==1.8.2
databricks-ai-bridge==0.10.0
databricks-connect==15.4.16
databricks-langchain==0.11.0
databricks-mcp==0.4.0
databricks-sdk==0.73.0
databricks-vectorsearch==0.63
dataclasses-json==0.6.7
dbus-python==1.2.18
debugpy==1.6.7
decorator==5.1.1
deprecation==2.1.0
dill==0.3.6
distlib==0.3.9
distro==1.7.0
distro-info==1.1+ubuntu0.2
docker==7.1.0
entrypoints==0.4
executing==0.8.3
facets-overview==1.1.1
fastapi==0.122.0
filelock==3.13.4
Flask==3.1.2
flask-cors==6.0.1
fonttools==4.25.0
frozenlist==1.8.0
fsspec==2025.10.0
gitdb==4.0.11
GitPython==3.1.43
google-api-core==2.18.0
google-auth==2.35.0
google-cloud-core==2.4.1
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
graphene==3.4.3
graphql-core==3.2.7
graphql-relay==3.2.0
greenlet==3.2.4
grpcio==1.69.0
grpcio-status==1.69.0
gunicorn==23.0.0
h11==0.16.0
hf-xet==1.2.0
httpcore==1.0.9
httplib2==0.20.2
httpx==0.28.1
httpx-sse==0.4.3
huey==2.5.4
huggingface_hub==1.1.5
idna==3.4
importlib_metadata==8.7.0
ipyflow-core==0.0.201
ipykernel==6.28.0
ipython==8.25.0
ipython-genutils==0.2.0
ipywidgets @ file:///databricks/.virtualenv-def/ipywidgets-7.7.2-2databricksnojsdeps-py2.py3-none-any.whl#sha256=903ead20c8d40de671853515fcad2f34b43ebf3eff80e4df3f876b8dd64c903b
isodate==0.7.2
itsdangerous==2.2.0
jedi==0.18.1
jeepney==0.7.1
Jinja2==3.1.6
jiter==0.12.0
jmespath==0.10.0
joblib==1.2.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter_client==7.4.9
jupyter_core==5.3.0
keyring==23.5.0
kiwisolver==1.4.4
langchain==1.1.0
langchain-classic==1.0.0
langchain-community==0.4.1
langchain-core==1.1.0
langchain-openai==1.1.0
langchain-text-splitters==1.0.0
langgraph==1.0.4
langgraph-checkpoint==3.0.1
langgraph-checkpoint-postgres==3.0.1
langgraph-prebuilt==1.0.5
langgraph-sdk==0.2.10
langgraph-supervisor==0.0.31
langsmith==0.4.47
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
litellm==1.75.9
Mako==1.3.10
MarkupSafe==3.0.3
marshmallow==3.26.1
matplotlib==3.7.2
matplotlib-inline==0.1.6
mcp==1.23.2
mlflow==3.6.0
mlflow-skinny==3.6.0
mlflow-tracing==3.6.0
more-itertools==8.10.0
multidict==6.7.0
mypy-extensions==0.4.3
nest-asyncio==1.5.6
numpy==1.26.4
oauthlib==3.2.0
openai==2.8.1
opentelemetry-api==1.38.0
opentelemetry-proto==1.38.0
opentelemetry-sdk==1.38.0
opentelemetry-semantic-conventions==0.59b0
orjson==3.11.4
ormsgpack==1.12.0
packaging==23.2
pandas==1.5.3
parso==0.8.3
pathspec==0.10.3
patsy==0.5.3
pexpect==4.8.0
pillow==10.3.0
platformdirs==3.10.0
plotly==5.9.0
prompt_toolkit==3.0.48
propcache==0.4.1
proto-plus==1.25.0
protobuf==5.29.5
psutil==5.9.0
psycopg==3.2.13
psycopg-binary==3.2.13
psycopg-pool==3.2.8
psycopg2==2.9.3
ptyprocess==0.7.0
pure-eval==0.2.2
py4j==0.10.9.7
pyarrow==14.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyccolo==0.0.65
pycparser==2.21
pydantic==2.11.4
pydantic-settings==2.12.0
pydantic_core==2.33.2
Pygments==2.15.1
PyGObject==3.42.1
PyJWT==2.10.1
pyodbc==4.0.39
pyparsing==3.0.9
python-apt==2.4.0+ubuntu4
python-dateutil==2.8.2
python-dotenv==1.2.1
python-lsp-jsonrpc==1.1.2
python-multipart==0.0.20
pytz==2022.7
PyYAML==6.0
pyzmq==25.1.2
referencing==0.37.0
regex==2025.11.3
requests==2.32.5
requests-toolbelt==1.0.0
rpds-py==0.29.0
rsa==4.9
s3transfer==0.10.3
scikit-learn==1.3.0
scipy==1.11.1
seaborn==0.12.2
SecretStorage==3.3.1
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
SQLAlchemy==2.0.44
sqlparse==0.5.1
sse-starlette==3.0.3
ssh-import-id==5.11
stack-data==0.2.0
starlette==0.50.0
statsmodels==0.14.0
tabulate==0.9.0
tenacity==9.1.2
threadpoolctl==2.2.0
tiktoken==0.12.0
tokenize-rt==4.2.1
tokenizers==0.22.1
tornado==6.3.2
tqdm==4.67.1
traitlets==5.13.0
typer-slim==0.20.0
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2022.1
ujson==5.4.0
unattended-upgrades==0.1
unitycatalog-ai==0.3.2
unitycatalog-client==0.3.0
unitycatalog-langchain==0.3.0
urllib3==2.0.7
uvicorn==0.38.0
virtualenv==20.26.6
wadllib==1.3.6
wcwidth==0.2.5
Werkzeug==3.1.3
whenever==0.7.3
xxhash==3.6.0
yarl==1.22.0
zipp==3.23.0
zstandard==0.23.0
